*{
    margin: 0;
    padding: 0; 
 }
header{
    text-align: center;
    margin: 10px 0px;
}
.container {
     background-color: grey;
     width: 600px;
     height: 80vh;
     margin: auto;
 }
 .item{
     background-color:lightgreen;
     width: 100px; 
     color: black;
     font-size: x-large;

 }
 .item:nth-child(even){
     background-color: lightseagreen;
 }


 .container {
     display: flex;
     /* flex-direction: row;
     flex-wrap: nowrap; */
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-items: stretch;
 }

 /* Propiedad flex 
 flex-grow : 0 ;
 flex-shrink : 1;
 flex-basis : auto

 flex: 0 1 auto;
 flex: none -> 0 0 auto;
 flex: auto -> 1 1 auto
 flex: N 
 */

 .item {
    flex: auto;
 }
