:root{
    margin: 0;
    padding: 0;
}

.container{
    background-color:steelblue;
    display: flex;
    /* height: 80vh; */
    height: 500px;

    /* 
    flex-direction: row;
    flex-wrap: wrap; 
    */
    /* row : Eje principal (Horizontal - eje x)
            Eje secundario (Vertical - eje y)
       column : Eje principal (Vertical - eje y)
            Eje secundario (Horizontal - eje x)  */
    flex-flow: column wrap;
    
    /* Alieanción Eje Principal (Horizontal) */
    justify-content: space-between;
    /* Alieanción Eje Secundario (Vertical) */
    align-content: flex-end;
}
.item{
    width: 100px;

    background-color: grey;
    margin: 10px;
    border: 2px solid black;
    color: white;
    font-size: x-large;
}


